@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ClassicAutoCar.com</h1>
    <img src="~/img/33519765-1972-porsche-911t-std.jpg" style="width:342px; height:auto;" />
    <img src="~/img/32771163-1965-ford-mustang-thumb.jpg" style="width:300px; height:auto;" />
    <img src="~/img/ford-woody-wagon.jpg"style="width:300px; height:auto;" />
    <p>If you are interested in old cars and want to add them to your collection, this site is for you..</p>
</div>
