@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ClassicAutoCar.com</h1>
   
    <p>If you are interested in old cars and want to add them to your collection, this site is for you..</p>
    <table class="classic">
        <tr>
            <td>
                <a class="nav-link text-dark" asp-area="" asp-controller="Cars" asp-action="Index">
                    1972 Porsche 911T
                    <img src="~/img/33519765-1972-porsche-911t-std.jpg" style="width:350px;  height:auto;" />

                    <p class="ref" style="font-size:11px; background-color:gray; color:white; position:absolute; padding-top:1px;  margin-top:0;"> Source:https://classiccars.com/ </p><br />
                </a>
            </td>
            
            <td>
                <a class="nav-link text-dark" asp-area="" asp-controller="Cars" asp-action="Index">
                    1965 Ford Mustang
                    <img src="~/img/32771163-1965-ford-mustang-thumb.jpg" style="width: 350px; display: flex; height: auto;" />
                    <p class="ref" style="font-size: 11px; background-color: gray; position: absolute; color: white;  text-align: center;"> Source:https://classiccars.com/ </p>
                </a>
                    </td>
            <td>
                <a class="nav-link text-dark" asp-area="" asp-controller="Cars" asp-action="Index">
                    1933 Ford Woody Wagon
                    <img src="~/img/ford-woody-wagon.jpg" style="width: 350px;  height: auto;" />

                    <p class="ref" style="font-size: 11px; background-color: gray; color: white; position: absolute; text-align: center;"> Source:https://autohunter.com </p>
                </a><br />
          </td>
        </tr>
        <tr>
            <td>
                <a class="nav-link text-dark" asp-area="" asp-controller="Cars" asp-action="Index">
                    1957 Chevrolet Bel Air
                    <img src="~/img/10477037-1957-chevrolet-bel-air-thumb.jpg" style="width: 300px; display:flex; height: auto;" />
                    <p class="ref" style="font-size: 11px; background-color: gray; color: white; position: absolute; "> Source:https://classiccars.com/ </p>
                </a>
            </td>
            <td>
                <a class="nav-link text-dark" asp-area="" asp-controller="Cars" asp-action="Index">
                    1961 Pontiac Ventura
                    <img src="~/img/30897469-1961-pontiac-ventura-thumb.jpg" style="width: 350px; display:flex; height: auto;" />
                    <p class="ref" style="font-size: 11px; background-color: gray; color: white; position: absolute; text-align: center;"> Source:https://classiccars.com/ </p>
                </a>
            </td>
            <td>
                <a class="nav-link text-dark" asp-area="" asp-controller="Cars" asp-action="Index">
                    1967 Ford Mustang
                    <img src="~/img/31992331-1967-ford-mustang-thumb.jpg" style="width: 350px; display: flex; height: auto;" />
                    <p class="ref" style="font-size: 11px; background-color: gray; color: white; position: absolute; margin-top:5px; text-align: center;"> Source:https://classiccars.com/ </p>

                </a><br />
            </td>

        </tr>
        <tr>
            <td><br />
                <a class="nav-link text-dark" asp-area="" asp-controller="Cars" asp-action="Index">
                    Porsche 911 Targa
                    <img src="~/img/porsche-911-targa.jpg" style="width:300px; height:auto; display:flex;" />
                    <p class="ref" style=" position: absolute; padding: 0; font-size: 11px; background-color: gray; color: white; position: absolute; text-align: center;"> Source:https://hemming.com </p>
                </a>
            </td>
            <td>
                <a class="nav-link text-dark" asp-area="" asp-controller="Cars" asp-action="Index">
                    1986 Dodge
                    <img src="~/img/dodge.jpg" style="width:380px; height:auto;" />
                    <p class="ref" style= "position: absolute; font-size: 11px; background-color: gray; color: white; position: absolute; text-align: center;"> Source:https://autohunter.com </p>
                </a>
            </td>
            <td>
                <a class="nav-link text-dark" asp-area="" asp-controller="Cars" asp-action="Index">
                    OldsMobile
                    <img src="~/img/oldsmobile.jpg" style="width:300px; height:auto; display:flex;" />
                    <p class="ref" style=" position: absolute; padding: 0; font-size: 11px; background-color: gray; color: white; position: absolute; text-align: center;"> Source:https://hemming.com </p>
                </a>
            </td>

        </tr>
    </table>

</div>
