@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>



<p>
    Welcome to ClassicAutoCar.com - our consumer marketplaces for used classic car sales, in Canada, have the most leads, and the most cars on the market.

    Every day we help more Canadian used car dealers reach more buyers. Our highly customizable reseller products and solutions drive online and in-store traffic,
    generate qualified leads, optimize inventory and most importantly increase sales.
    It features in-depth muscle car profiles and road tests, historical and engineering research, and restoration and general-interest technical articles as well as 
    special departments devoted to parts and accessories, auction results, and all the new Detroit performance cars to come. ClassicAutoCar truly is the ultimate 
    performance car website for the American performance car enthusiast.

    In the fall of 2022, ClassicAutoCar launched yet another new and exciting automotive magazine, ClassicAutoCar, which was built on the heritage of Special Interest Autos,
    but directed entirely toward American-built automobiles. With in-depth automobile profiles, exposés on automotive design, engineering, styling and history, and profiles 
    on specialists and shops specializing in the collector-car hobby, as well as high-quality, full-color photography, 
    Classic Car has become the fastest-growing collector web site in the world.
</p>
